
@{
    ViewData["Title"] = "Index";
}

<h2>Main admin page</h2>

<p><a asp-controller="Admin" asp-action="AddBook">Добавить книгу</a></p>
<p><a asp-controller="Admin" asp-action="QueryConfirm">Запросы на книги</a><p />
<p><a asp-controller="Admin" asp-action="ViewAvailibleBooks">Просмотр доступных книг</a><p />
<p><a asp-controller="Admin" asp-action="ViewGivenBooks">Просмотр выданных книг</a><p />
