
@{
    ViewData["Title"] = "Index";
}

<h2>Main admin page</h2>

<a asp-controller="Admin" asp-action="QueryConfirm">Запросы на книги</a>
<p/>
<a asp-controller="Admin" asp-action="ViewAvailibleBooks">Просмотр доступных книг</a>
<p/>
<a asp-controller="Admin" asp-action="ViewGivenBooks">Просмотр выданных книг</a>
