@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    Библиотечная картотека. В наличии имеется справочник книг, содержащий информацию о наименовании книги, её инвентарном номере, наличии книги в библиотеке и читателе которому она выдана.
    Функционал приложения картотеки позволяет выбрать книгу или группу книг предназначенных для передачи читателю(читатель является зарегистрированным пользователем библиотеки, информация о читателях также хранится в соответствующем справочнике) и зарегистрировать факт передачи книги, или  нескольких книг, читателю от библиотекаря.
    Передача осуществляется  на ограниченный срок (изменяемая переменная) по истечении которого в системе появляется соответствующая отметка о просрочке.
    Функционал приложения обеспечивает доступ к реестру доступных согласно справочника книг, а также к реестру выданных согласно справочника книг.
    В реестре выданных книг отражается цветовая либо символьная индикация факта просрочки.
</p>
