<h3>Availible books:</h3>

<form method="post">
    <select multiple name="book_id">
        @foreach (var b in ViewBag.AvailibleBooks)
        {
            <option value="@b.Id">@b.Name</option>
        }
    </select>
    <input type="date" name="requestedDate"/>
    <input type="submit" value="Запросить"/>
</form>
@*<table>
    @foreach (var b in ViewBag.AvailibleBooks)
    {
        <tr>
            <td>@b.Name</td>
            
        </tr>
    }
</table>*@